<div class="row home-container">

<div class="col m1 s0"></div>
<div class="col m10 s0">


<h1 class="heading"><span>Meet</span>  theaa</h1><h4 class="sub-title">The Appointment app</h4>


<% cl_image_tag(url="http://res.cloudinary.com/ahishahar/image/upload/sample.jpg") %>
<%#= image_tag( "aa_logo.png", :class => "home-logo" ) %>

</div>
<div class="col m1 s0"></div>

</div>
