.logo {
  height: 60px;
  max-height: 150px;
  max-width: 150px;
}
a {
  color: darkblue;
}
.full_screen {
  height: 100%;
  min-height: 100vh;
  background-color: rgba(50, 0, 255, 0.1);
}
.collection {
  border: none;
}
nav {
  background: none;
  border-radius: 10px;
}
.nav-wrapper {
  border-radius: 10px;
}
.controls {
  margin-top: 50px;
}
.dropdown-button {
  background-color: rgba(50, 0, 255, 0.4);
}
.dropdown-button:hover {
  background-color: rgba(50, 0, 255, 0.6);
}
