<h3>Your Appointments:</h3>


<div class="row">
  <% @appointments.each do |app| %>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content black-text">
              <span class="card-title"><%= app.start_time %></span>
              <p>
                <%= app.appointment_type.name %>
              </p>
            </div>
            <div class="card-action">
              <%= link_to "Edit Details", edit_appointment_path(app), :class => 'test'%>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>

  <% end %>
</div>
